@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&family=Poppins:wght@200;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url("./images/Sprinkle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* NavBar */
header{
   /* #0E2A47; */
   background-color: #091b30;
   box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
}
.navbar{
    padding: 0% !important;
}
.active{
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.nav-item :hover{
    color: #507E95;
}
.dropdown-menu{
    background-color: #507E95;
}
.imagen-logo{
    width: 90px;
    margin: 0%;
}


.title{
    padding: 30px;
    color: white;
    font-size: 150%;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 41);
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.tabla-monedas{
    text-align: center;
}
table{
    width: 600px;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px 0px rgba(6, 2, 46, 0.75);
}
th{
    padding: 10px;
}
td{
    padding: 10px;
}
table, th, td{
    border: 1px solid black;
    border-collapse:collapse ;
}
